@import "tailwindcss";

@theme {
  --font-sans: Switzer, system-ui, sans-serif;

  --radius-4xl: 2rem;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bodyColor: #ffffff;
  --color-cardBg: #e5e7eb;
  --color-textPink: #f472b6;
  --color-textLight: #111111;
  --color-textDark: #525252;
  --color-hoverColor: rgba(249, 168, 212, 0.12);

  --background-image-footer-bg: url("/background/footer-bg.jpg");
}
